<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>

        <h:body>
            <h:form>
                <c:if test="#{not empty chatView.nickname}">
                    <p:poll interval="1" update="history" />
                    <p:panel header="Chat" style="width: 33%; height: 300px;">
                        <p:dataList id="history" value="#{chatHistory.messageHistory}" var="msg">
                            #{msg.nickname}: #{msg.message}
                        </p:dataList>
                        <f:facet name="footer">
                            <p:inputText value="#{chatView.message}" />
                            <p:commandButton actionListener="#{chatView.submitMessage}" value="Send"
                                             update="@form"/>
                        </f:facet>
                    </p:panel>
                </c:if>
                <c:if test="#{empty chatView.nickname}">
                    <p:outputLabel for="nickname">Enter nickname:</p:outputLabel>
                    <p:inputText id="nickname" value="#{chatView.nickname}" />
                    <p:commandButton value="Save" update="@form" />
                </c:if>
            </h:form>
        </h:body>

    </f:view>
</html>

