<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>

        <h:body>
            <h:form>
                <p:poll interval="1" listener="#{chartView.updateData}" update="chartView" autoStart="true"  />
                
                <p:chart id="chartView" type="line" model="#{chartView.chartModel}" style="height:300px;"/>
                <p:commandButton value="Update Data" actionListener="#{chartView.updateButtonHandler}">
                    <f:ajax render="@form" />
                </p:commandButton>
            </h:form>
        </h:body>

    </f:view>
</html>

